@page "/learn/{PageTopic}"
@rendermode InteractiveServer
@using Dissertation.Models.Interfaces
@using Dissertation.Models.Learn
@inherits QuizCardBase

@inject ITopicContentProvider ContentProvider

<link href="Styles/Main.css" rel="stylesheet"/>
<link href="Styles/DisplayLearnTopic.css" rel="stylesheet"/>

@code {
	[Parameter] public string PageTopic { get; set; } = string.Empty;

	private TopicContent? _content;

	protected override void OnInitialized()
	{
		Topic = PageTopic;
		_content = ContentProvider.GetContent(PageTopic);
	}

}

@if (_content is not null)
{
	<PageTitle>@_content.TopicName</PageTitle>
	<h1>@_content.TopicName</h1>
	<p>@_content.Description</p>

	@foreach (var paragraph in _content.Paragraphs)
	{
		<p>@paragraph</p>
	}

	<h2>Video Lesson</h2>

	<!-- Embed YouTube Video -->
	<iframe  width="100" height="100" 
	         src="@_content.VideoPath"
	        title="YouTube video player" frameborder="0" 
	        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
	        allowfullscreen>
	</iframe>

	<h2>@_content.TopicName Quiz</h2>
	<div class="quiz">
		@if (QuestionIndex < Questions.Count)
		{
			<div class="quiz-header">
				<h4>@Questions[QuestionIndex].QuestionTitle</h4>
			</div>

			<div class="quiz-body">
				@foreach (var option in Questions[QuestionIndex].PossibleOptions)
				{
					<button class="quiz-option" @onclick="() => OptionSelected(option)">
						@option
					</button>
				}
			</div>
		}
		else
		{
			<div class="display-score">
				<h4>Your score: @Score / @(Questions.Count)</h4>
			</div>

			<div class="quiz-footer">
				<button class="restart-btn" @onclick="RestartQuiz">Restart Quiz</button>
			</div>
		}
	</div>
}
else
{
	<h1>Topic not found</h1>
	<p>Please check the topic name and try again.</p>
}